.container-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;   
}
.container-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.container-item{
   flex-basis: auto;   
   align-self: stretch;  
}
.oneth{
    flex-grow: 1;
    flex-basis: 20%; 
}
.twoth{
    flex-grow: 4;
     flex-basis: 50%; 
}
.threeth{
    flex-grow: 3;
    flex-basis: 30%;
}