.container{
    display: flex;
    flex-direction: column;
}
.links-box{
    margin: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    min-height: 200px;
}