.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;    
}
.container-item{
    flex-grow: 1;
    align-self: center;
}
.search{
    width: 100%;
}

.container-item-social{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;  
}
.container-item-social-item{
    margin-left: 10px;
}
.link{
    text-decoration: none;
    color: teal;
    letter-spacing: 0.5px;    
}

