.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    
}
.container-item{
    align-self: auto;
    flex-grow: 1;
}
.info-box{
    margin: 3px;
    border-width: 2px;
    border-style: solid;   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #00897b;
    color: whitesmoke;    
    padding: 6px; 
    text-align: justify;
    font-size: 14px;
}